body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.appContainer {
  text-align: center;
  height: 100vh;
  position: relative;
}

.cardContainer {
  display: flex;
}

.card {
  /* width: 300px; */
  min-height: 300;
  /* border:1px solid gray; */
  /* padding: 10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gridContainer {
  display: grid;
  gap: 10px;
}

button {
  padding: 10px;
  background-color: aliceblue;
  border: none;
  cursor: pointer;
  margin: 5px;
}
